@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*MY CSS*/
/*.pos-rel{ position:relative;}
.ic-ad-sel .form-control-feedback{ right:15px;}
.blouse_mlist .form-group{ margin-bottom:0px !important}
.blouse_mlist1 .form-group{ margin-bottom:0px !important}
.out-stock{ background: #000 none repeat scroll 0 0; top:0px; left:0px;color: #fff;font-size: 28px;height: 100%;opacity: 0.6; padding-top: 60%;position: absolute;text-align: center;vertical-align: middle; width: 100%;z-index: 1500;}*/

.header-bg{ background:#f1ecec;}

.login-wrap{width:40px; float:right; width:240px; text-align:right; position:relative;}
.links { background: #ff0000 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin-top: 5px;
    padding: 3px 6px;text-decoration:none;}
	
.linkarr{border-bottom: 5px solid transparent;
    border-left: 5px dashed;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    width: 0;}
.logout-St{ display:none;background: #f1f1f1 none repeat scroll 0 0;border-radius: 3px; top:31px; width:120px; padding:6px; box-shadow: 0 2px 2px #999; position: absolute;right: 0;  z-index: 10000;}	
.logout-St a{ font-size:14px; display:block; margin-bottom:5px;}
.logout-St a { color:#a927f4;}




.display-none{ display:none !important;}
.navbar-nav > li > a:hover{ color:#fff !important;}
.nav-wrap{padding-bottom:20px;}


.footer{ font-size:13px; background:#000; text-align:center; color:#ddd; padding:10px 0px;}

.dropdown-submenu ul li{ border-bottom:1px solid #ddd;}
.navbar-brand{background:url(../images/logo.png) no-repeat;width:257px;height:53px;}
.cat-switch{ margin-bottom:0px; display:inline-block; height:26px;}
.cat-switch li{ float:left; margin-left:5px;}
.cat-switch li > span{color: #000; cursor:pointer; position:relative;display: inline-block;font-size: 15px; font-weight: normal;  padding: 3px 8px; text-transform: uppercase;}
.select-cat{background: #ddd none repeat scroll 0 0;color: #06afd5 !important;}
.select-cat span{ position:absolute; background:url(../images/sel-cat-arr.png);   bottom: -12px; left:40%; width:14px; height:14px; display:block;}


.header-wrapper{ background:#1b1b1b;}
.title{ font-size:20px; color:#7809bd; margin-top:0px;}
.content-block { min-height: 450px; padding-bottom: 25px; width: 100%;}

.ord-table{ margin-top:20px; width:100%; overflow:auto;}
.ord-table a{ color:#a927f4; font-weight:bold;}
.ord-table table{ width:100%;}
.ord-table table th{background: #313131 none repeat scroll 0 0;color: #fff;padding: 10px; }
.ord-table table td{ padding:8px; border-bottom:1px solid #ddd; vertical-align:middle; position:relative;}

.alt{ background:#f1f1f1;}
.altbr{ border-bottom:#f1f1f1;}

/*login- signup*/
.login-wrap1{ position:absolute; width:900px; height:350px; margin-left:-450px; margin-top:-175px; left:50%; top:50%;}
.signup-wrap{ position:absolute; width:900px; height:570px; margin-left:-450px; margin-top:-285px; left:50%; top:50%;}
.wet{ color:#770bbe; font-size:18px; text-align:center; margin:25px 0;}
.log-f-wrsp{ display:inline-block; width:450px;}
.log-f-wrsp input[type="text"]{ padding:10px; height:45px; border-radius:0 !important;}
.log-f-wrsp input[type="password"]{ padding:10px; height:45px; border-radius:0 !important;}
.log-f-wrsp select{ padding:10px; height:45px; border-radius:0 !important;}
.log-f-wrsp .form-group{ margin-bottom:10px !important;}
.fleft{ float:left;}
.fright{ float:right;}
.sign-up{  padding: 8px 34px; color:#fff; border-radius:5px; background:#017def; border:1px solid #969595; font-weight:bold;}
.sign-up:hover{border:1px solid #28292b;}
.login-bt{  padding: 8px 34px; color:#fff; border-radius:5px; background:#ee0500; border:1px solid #969595; font-weight:bold;}
.login-bt:hover{border:1px solid #28292b;}
.fp{ text-align:right; font-size:12px; color:#ddd; margin-top:5px;}
.for-pass{ color:#770bbe;}






/*pop-default*/
.overlay{ display:none;  background:#333; top:0px; left:0px; bottom:0px;  z-index:1050; left:0px; position:fixed; right:0; opacity:0.6;}
.default-pop{background: none repeat scroll 0 0 #FFFFFF; z-index:1060; display:none; left: 50%; position:fixed;top: 50%; box-shadow: 0 2px 2px #666; border-top:3px solid #000;border-bottom:3px solid #000; border-right:6px solid #000;border-left:6px solid #000; }
.pop-padd{ padding:15px;}
.pop_head{ font-size:20px; line-height:23px;  padding: 0px 0px 10px; background:rgba(0, 0, 0, 0) url("../images/bg-pop-head.png") no-repeat scroll center 0; margin: 0; position:relative; color:#770bbe; font-weight:normal; }
.pop_close{ position:absolute; right:0px; top:0px; cursor:pointer;}

.user-detailP{ width:600px; height:340px; margin-top:-170px; margin-left:-300px;}
.user-d-list li{ float:left; margin-right:5%; width:30%; margin-bottom:20px;}
.user-d-list li span{ color:#770bbe; display:block;}
.no-MarR{ margin-right:0px !important;}

.ser-filter{ text-align:right;}
.ser-filter  select {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 34px;
    padding: 5px;
    width: 150px; margin-right:5px;
}
.ser-filter .mf{ display: inline-block; text-align: left; width: 150px;margin-right:5px;}
.mf  input[type="checkbox"]	{ margin-right:5px; margin-left:5px;}
.ser-filter input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
}
.ser-but {
    background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll 0 4px;
    border: medium none;
    display: inline-block;
    height: 23px;
    margin-left: 5px;
    text-indent: -99999px;
    width: 21px;
}



/*.inner-banner-wrap{width:100%; min-height:450px; padding-bottom:25px;}
.brade-crum{background: rgba(0, 0, 0, 0) url("../images/bg-brade-crum.png") no-repeat scroll center 0;margin-top:5px;color: #09aed3;height: 32px;padding-top: 5px; text-align: center; }
.brade-crum span{ color:#999}
.inner-title{ font-size:30px; position:relative; color:#f08153; background:rgba(0, 0, 0, 0) url("../images/inner-title-bg.jpg") no-repeat scroll center bottom / 100% auto; margin-top: 30px; padding-bottom: 10px;text-align: center;} 
.sub_but{ text-align:right; position:relative;}
.ic-ad-sel .form-control-feedback{ right:15px;}

.form-wrap{ width:800px; margin:0px auto; margin-top:25px;}
.form-group:before, .form-group:after{content:" "; clear:both; display:table;}
.file {visibility: hidden;position: absolute;}
.has-error .btn-default { border-color: #e74c3c ;}
.has-success .btn-default { border-color: #18bc9c ;}

.pos-rel{ position:relative;}
.back-list{background:url(../images/arrow-back-list.png) no-repeat 10px 11px #06afd5;border-radius: 3px;color: #fff; font-size: 15px; padding: 8px 16px 8px 25px; position: absolute;left: 0;}
.back-list:hover{background:url(../images/arrow-back-list.png) no-repeat 10px 11px #000000;}



.add-new{background:url(../images/arrow-add-new.png) no-repeat right 11px #06afd5;border-radius: 3px;color: #fff; font-size: 15px; padding: 8px 25px 8px 16px; position: absolute; right: 0;}
.add-new:hover{background:url(../images/arrow-add-new.png) no-repeat right 11px #000000;}

.ord-table{ margin-top:20px; width:100%; overflow:auto;}
.ord-table table{ width:100%;}
.ord-table table th{background: #f08153 none repeat scroll 0 0;color: #fff;padding: 10px; }
.ord-table table td{ padding:8px; border-bottom:1px solid #ddd; vertical-align:middle; position:relative;}

.ord-table .form-control-feedback{ display:inline-block ;height: 15px !important;left: 38px;pointer-events: none;position: absolute;top: 25%!important; width: 15px!important;}

.alt{ background:#f1f1f1;}
.altbr{ border-bottom:#f1f1f1;}
.delete{background:url(../images/delete.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.edit {background:url(../images/edit.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.block{background:url(../images/delete.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.unblock{background:url(../images/unblock_user.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.block{background:url(../images/block_user.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.viw-detail{ background:#06afd5; color:#fff; border-radius:3px; padding:3px 8px; border:none; display:inline-block; font-size:15px;}
.viw-detail:hover{ background:#000;}
.viw-query-btn-replied{ background:#e0dada; color:#b5b3b3; cursor:default !important; border-radius:3px; padding:3px 8px; border:none; display:block; font-size:15px;}

.ban-title{ font-size:18px; margin-bottom:20px; color:#06afd5; margin: 0 0 20px;}
.org{ color:#f08153;}
.ad-icon .form-control-feedback{ right:10px;}
.sort-wrap {float: right;}

.ser-but { background:rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll 0 4px; border: medium none; display: inline-block;
    height: 23px; margin-left: 5px;text-indent: -99999px; width: 21px;}
.sort-wrap input[type="text"] {border: 1px solid #ddd;border-radius: 5px; padding: 5px;width: 200px;}
.sort-wrap select { border: 1px solid #ddd;border-radius: 5px;padding: 5px;width: 200px; height:34px;}
.col-box{border: 1px solid #999;display: inline-block; height: 20px; width: 20px;}
#con_rate{ display:none;}
#ven_d{ display:none;}
#ven_wh{display:none;}
#ware_ven{display:none;}
#pay_f{display:none;}


.grey{ color:#666;}
.ord-history{ margin-top:25px; margin-bottom:20px; text-align:center;}
.his-table table{ width:100%; border:1px solid #ddd;}
.his-table table th{ padding:6px; background:#ddd;}
.his-table table td{ padding:6px; border-bottom:1px solid #ddd;}
.m-right{ margin-right:0px !important;}
.per_text { font-size:15px; position:absolute; right:-20px; top:8px;}
.martop10{ margin-top:10px;}
.martop30{ margin-top:30px;}
.ord-table input[type="checkbox"]{ display: inline-block; width: auto; margin-right:5px;}
*/




/*pop-customer-support-page*/
.op_query{height: 380px; width: 600px; margin-left: -300px; margin-top: -190px;}
.query{ margin-bottom:15px; margin-top:15px; height:80px; overflow:auto; text-align:center; padding: 10px;}
.answ { display:inline-block; border: 1px solid #444; padding:4px 10px; font-size:15px; color:#000; border-radius: 4px; position:relative;}
.arr_down{ background:url(../images/arrow-down.png) no-repeat;  width:15px; height:10px; position:absolute; bottom:-11px; left:45%;}
.reply{ margin:10px 0; }
.reply textarea{ height:105px; text-align:left }
.sub-query{ background:#06afd5; color:#fff; border-radius:3px; padding:8px 12px; display:inline-block; border:none; font-size:15px;}
.sub-query:hover{ background:#000;}

/*pop-order-report-detail-page*/
.mes-detail{ height:550px; width:800px; margin-left: -400px; margin-top: -275px;}
.fit-reg { font-size:18px; color:#06afd5; margin-top:5px;}	
.sav-mes ul li{ float:left; width:48%; margin-right:4%;}
.al-right{ text-align:right !important;}
.add-inst{ font-size:18px; color:#06afd5;}
.size_table1{ width:100%; border-collapse: collapse;}
.size_table1 th{ padding:5px; background:#ececec; color:#f08153; border:1px solid #ddd; text-align:left; font-size:18px;}
.size_table1 td{ padding:4px; color:#848383; border:1px solid #ddd; font-size:13px;}
.me-nm{ font-size:18px; color:#666;}
.his-table{ width:100%; overflow:auto;}


/*Pagination*/
.pagin li{ float:left;}
.pagin li a { border: 1px solid #ddd;display: block; padding: 5px 10px; border-radius:4px; margin: 0 5px;}
.pagin li a:hover{ background:#ddd; border:1px solid #999; text-decoration:none;}
.pagina{margin-top:25px;}
.pagein-control{ display:inline-block;}
.to-page{background: #06afd5 none repeat scroll 0 0;border: 1px solid #06afd5 !important;color: #fff; }
.to-pagedis{background: #f1f1f1 none repeat scroll 0 0; color: #000;border: 1px solid #ddd !important; cursor:default;}
.to-pagedis:hover{background: #f1f1f1 none repeat scroll 0 0 !important; color: #000 !important;border: 1px solid #ddd !important;}
.pg-active{background: #f08153 none repeat scroll 0 0; border: 1px solid #f08153 !important; color: #fff;}
.to-page:hover{background:#000 !important; border:1px solid #000!important;}



