@charset "utf-8";
/* CSS Document */
@media (max-width : 480px){

/*index*/



.links{ position: absolute;right: 15px;top: 5px; font-size: 12px;}
.my-acc{font-size: 12px;position: absolute;right: 15px;top: 5px;}

.navbar-toggle{ margin-top:10px !important; margin-right:15px; padding:5px !important;}
.navbar-nav .open .dropdown-menu{ background:#000000 !important;}
.ser-filter select{ width:100%; margin-bottom:5px; margin-right:0px;}
.ser-filter .mf{width:width:100%; margin-bottom:5px; margin-right:0px;}
.ser-filter input[type="text"]{width:90%; margin-bottom:5px;}

.user-d-list ul{ height:270px; overflow:auto;}
.user-d-list li{ float:none; width:100%; margin-left:0px!important;}
.user-detailP{ width:300px; margin-left:-150px; }

.login-wrap{position: absolute; right: 0; top: 38px;}{right: 15px; top: 35px;}
.logout-St{top:35px; right:15px;}
.navbar-brand{ background-size:150px;}

.login-wrap1{ width:300px; margin-left:-150px;}
.log-f-wrsp{ width:300px;}

.form-wrap{ width:100%;}
.hold-wrp{ padding:0px; text-align:left;}

.add-new{ position:inherit; display:block; margin-top:5px;}
.mRsearch input[type="text"]{ margin-bottom:5px; width:100%;}
.mRsearch{ width:100%;}
.serbut{ float:right;}
.leftD{ width:100%; float:none;}
.rightD{ width:100%; float:none;}

.d-graph{ padding:0px;}
.d-graph canvas {height: auto !important;}
.av-mood ul li { margin-bottom: 10px;width: 100%;}

.dis_dates ul li { font-size: 5px;}
.sel-slot li {float: none; margin-bottom: 5px; width: 100%;}


} 

@media (min-width : 480px) and (max-width : 600px){
/*index*/	


.links{ position: absolute;right: 15px;top: 5px; font-size: 12px;}
.my-acc{font-size: 12px;position: absolute;right: 15px;top: 5px;}
.navbar-toggle{ margin-top:15px !important; margin-right:15px; padding:5px !important;}
.navbar-nav .open .dropdown-menu{ background:#000000 !important;}
.ser-filter select{ width:137px; margin-bottom:5px;}
.ser-filter .mf{width:137px; margin-bottom:5px;}
.ser-filter input[type="text"]{width:255px; margin-bottom:5px;}

.user-d-list ul{ height:230px; overflow:auto;}
.user-d-list li{ float:none; width:100%; margin-left:0px!important;}
.user-detailP{ width:300px; margin-left:-150px; height:300px; margin-top:-150px; }

.login-wrap{position: absolute; right: 0; top: 38px;}{right: 15px; top: 35px;}
.logout-St{top:35px; right:15px;}

.login-wrap1{ width:420px; margin-left:-210px;}
.log-f-wrsp{ width:420px;}

.form-wrap{ width:100%;}
.hold-wrp{ padding:0px; text-align:left;}
.mRsearch{ width:100%;}
.mRsearch input[type="text"]{ margin-bottom:5px; width:100%;}	

.leftD{ width:100%; float:none;}
.rightD{ width:100%; float:none;}

.d-graph canvas {height: auto !important;}
.av-mood ul li { margin-bottom: 10px; width: 100%;}



}

@media (min-width : 600px) and (max-width : 768px) {
/*index*/	


.links{ position: absolute;right: 15px;top: 5px; font-size: 12px;}
.my-acc{font-size: 12px;position: absolute;right: 15px;top: 5px;}
.navbar-toggle{ margin-top:15px !important; margin-right:15px; padding:5px !important;}
.navbar-nav .open .dropdown-menu{ background:#000000 !important;}
.ser-filter select{ width:137px; margin-bottom:5px;}
.ser-filter .mf{width:137px; margin-bottom:5px;}
.ser-filter input[type="text"]{width:255px; margin-bottom:5px;}

.login-wrap{position: absolute; right: 0; top: 38px;}{right: 15px; top: 35px;}
.logout-St{top:35px; right:15px;}

.form-wrap{ width:100%;}
.hold-wrp{ padding:0px; text-align:left;}
.mRsearch input[type="text"]{ margin-bottom:5px;}	

.d-graph canvas { height: auto !important;}
.av-mood ul li { margin-bottom: 10px;width: 100%;}


	
}

@media (min-width : 769px) and (max-width : 1024px){
/*index*/	


.links{ position: absolute;right: 15px;top: 5px; font-size: 12px;}
.my-acc{font-size: 12px;position: absolute;right: 15px;top: 5px;}
.navbar-toggle{ margin-top:40px !important; margin-right:15px;}
.ser-filter select{ width:137px; margin-bottom:5px;}
.ser-filter .mf{width:137px; margin-bottom:5px;}
.ser-filter input[type="text"]{width:255px; margin-bottom:5px;}

.form-wrap{ width:100%;}
.hold-wrp{ padding:0px; text-align:left;}
.mRsearch input[type="text"]{ margin-bottom:5px;}		
} 

@media (min-width : 1024px) and (max-width : 1200px){

	
	
}	