﻿@model CDHS_ADMIN.Models.AddDiabetesSymptomsViewModel
@{
    ViewBag.Title = "adddiabetessymptoms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/scripts/jquery-ui.min.js")" type="text/javascript"></script>

    <script>
        $(function () {
            $("#companyname").autocomplete({
                source: function (request, response) {
                    var eventtype = new Array();
                    $.ajax({
                        method: "POST",
                        url: "/Diabetes/AutocompleteDiabetesSymptoms",
                        data: "{searchstring:'" + $("#companyname").val() + "'}",
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            response($.map(data.Data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.value
                                };
                            }));
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#companyname").text(textStatus);
                        }
                    });

                    //
                    //response(eventtype);
                },
                minLength: 0,
                select: function (event, ui) {
                    if (ui.item) {
                        $("#companyname").val(ui.item.label);
                        $("#sponsorid").val(ui.item.value);
                        return false;
                    }
                },
                focus: function (event, ui) {
                    return false;
                }
            }).focus(function () {
                $(this).data("autocomplete").search($(this).val());
                //$(this).trigger('mousedown.autocomplete');
            });
        });
    </script>

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Diabetes Symptoms</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Diabetes Symptoms
            @Html.ActionLink("View Diabetes Symptoms", "viewdiabetessymptoms", "Diabetes", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
@using (Html.BeginForm("adddiabetescontent", "Diabetes", FormMethod.Post, new { @class = "form-horizontal", }))
{
            @*<form method="post" id="form_mast">*@
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Diabetes Symptoms Title</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.DiabetesSymptomsTitle, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Enter Symptoms Title" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Content By</div>
                        <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.ContentBy, new { @class = "form-control", @name = "sponsor_name", @placeholder = "Search Sponsor Name" })
                                @Html.HiddenFor(m => m.companyname, new { @class = "form-control", @id = "companyname", @name = "companyname" })
                                @*@Html.HiddenFor(m => m.sponsorid, new { @class = "form-control", @id = "sponsorid", @name = "sponsorid" })*@
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Short Description</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control", @placeholder = "Description In Short" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Diabetes Symptoms Details</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.DiabetesSymptomsDetails, new { @class = "form-control", @style = "height:200px;" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Approval Status</div>
                        <div class="col-lg-9">
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Asset Type</div>
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Upload Title Image</div>
                        <div class="col-lg-9">
                            <div class="main_page_area">
                                <div class="" id="container">
                                    <div id="dropzone1" class="drag_area">Drag Here to Upload</div>
                                    <div id="actions">
                                        <div style="text-align:center"> <span style="display:none" class="btn btn-default fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span> </span> </div>
                                        <div style="width:100%;">
                                            <span class="fileupload-process">
                                                <div id="total-progress" style="width:100%; margin-top:4px" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress> </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @*</form>*@
}
        </div>
    </div>
</div>

