﻿@model CDHS_ADMIN.Models.DiabetesReportViewModel
@{
    ViewBag.Title = "diabetesreport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TRACKER > Diadetes Report</div>
    </div>
    <div class="container">
        <h2 class="title">Diadetes Report (550)</h2>
        <div class="hold-wrp1">
            <div class="ser-filter">

                <span class="mf">
                    @Html.CheckBoxFor(m => m.Male, new { @name = "Male" })Male
                    @Html.CheckBoxFor(m => m.Female, new { @name = "Female" })Female
                </span>
                    @Html.DropDownListFor(m => m.SelectedSearchByState, Model.StateList.Select(menu => new SelectListItem { Text = menu.StateStatus, Value = menu.StateId.ToString() }), "Search By State" )
                    @Html.DropDownListFor(m => m.SelectedSearchByCity, Model.CityList.Select(menu => new SelectListItem { Text = menu.CityStatus, Value = menu.CityId.ToString() }), "Search By City")
                    @Html.DropDownListFor(m => m.SelectedSearchByAge, Model.AgeList.Select(menu => new SelectListItem { Text = menu.AgeStatus, Value = menu.AgeId.ToString() }), "Search By Age")

                @Html.TextBoxFor(m => m.Search, new { @placeholder = "Search By Email" })
                <input class="ser-but" value="Search" type="button">






            </div>
            <div class="ord-table">
                <table>
                    <tr>
                        <th style="width:10%;"><a href="#">User Id</a></th>
                        <th style="width:10%;"><a href="#">User Name</a></th>
                        <th style="width:22%;"><a href="#">Email ID</a></th>
                        <th style="width:10%;"><a href="#">Gender</a></th>
                        <th style="width:10%;"><a href="#">Age</a></th>
                        <th style="width:10%;"><a href="#">City</a></th>
                        <th style="width:10%;"><a href="#">State</a></th>
                        <th style="width:18%;">View Diabetes Report</th>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1345</a></td>
                        <td>Nick Clark</td>

                        <td>nick@gmail.com</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td><a class="view-Dreport" href="diabetes-report-user-detail.html">View Diabetes Report</a></td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1245</a></td>
                        <td>John Hussy</td>

                        <td>john@gmail.com</td>
                        <td>Male</td>
                        <td>28</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td><a class="view-Dreport" href="diabetes-report-user-detail.html">View Diabetes Report</a></td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1345</a></td>
                        <td>Nick Clark</td>

                        <td>nick@gmail.com</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td><a class="view-Dreport" href="view-diabetes-report.html">View Diabetes Report</a></td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1245</a></td>
                        <td>John Hussy</td>

                        <td>john@gmail.com</td>
                        <td>Male</td>
                        <td>28</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td><a class="view-Dreport" href="diabetes-report-user-detail.html">View Diabetes Report</a></td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1345</a></td>
                        <td>Nick Clark</td>
                        <td>nick@gmail.com</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td><a class="view-Dreport" href="diabetes-report-user-detail.html">View Diabetes Report</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

