﻿
@{
    ViewBag.Title = "diabetesreportuserdetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TRACKER > Diadetes Report</div>
    </div>
    <div class="container">
        <h2 class="title">Diadetes Report (550) @Html.ActionLink("Back to List", "diabetesreport", "Diabetes", new { @class = "add-new" })</h2>
        <div class="hold-wrp1">
            <div>
                <ul class="clearfix uSmDetail">
                    <li>User ID :<span> 1345</span></li>
                    <li>Username : <span>Nick Clark</span></li>
                    <li>Gender : <span>Male</span></li>
                    <li>Age : <span>22</span></li>
                    <li>City : <span>Sydney</span></li>
                    <li>State : <span>NSW</span></li>
                </ul>
                <a class="d_graph" href="diabetes-graph.html"> Diabetes Graph</a>
                <div class="clearfix mar_top10">
                    <div class="fleft mRsearch">
                        <div class="input-group date" id="datetimepicker5" data-date-format="DD/MM/YYYY">
                            <input class="form-control" placeholder="From Date" id="fromdate" name="fromdate" value="" type="text">
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span> </span>
                        </div>

                    </div>
                    <div class="fleft mRsearch">
                        <div class="input-group date" id="datetimepicker6" data-date-format="DD/MM/YYYY">
                            <input class="form-control" placeholder="To Date" id="todate" name="todate" value="" type="text">
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span> </span>
                        </div>
                    </div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>
            </div>


            <div class="ord-table">
                <table>
                    <tr>
                        <th style="width:11%;"><a href="#">Date</a></th>
                        <th style="width:13%;"><a href="#">Before Breakfast</a></th>
                        <th style="width:13%;"><a href="#">After Breakfast</a></th>
                        <th style="width:13%;"><a href="#">Before Lunch</a></th>
                        <th style="width:13%;"><a href="#">After Lunch</a></th>
                        <th style="width:13%;"><a href="#">Before Dinner</a></th>
                        <th style="width:13%;"><a href="#">After Dinner</a></th>
                        <th style="width:11%;">View Diary</th>
                    </tr>
                    <tr>
                        <td>16/10/2016</td>
                        <td>
                            <span class="db">12</span>
                            <span class="md">Anxious</span>
                            <span class="dt">08:30am</span>
                        </td>

                        <td>
                            <span class="db">12</span>
                            <span class="md"> Anxious</span>
                            <span class="dt">09:20am</span>

                        </td>
                        <td>
                            No Data
                        </td>
                        <td>
                            <span class="db">9</span>
                            <span class="md">Happy</span>
                            <span class="dt">02:08pm</span>

                        </td>
                        <td>
                            <span class="db">8</span>
                            <span class="md"> Happy</span>
                            <span class="dt"> 08:10pm</span>

                        </td>
                        <td>No Data</td>
                        <td><a class="view-Dreport" href="view-diary.html">View Diary</a></td>
                    </tr>

                    <tr>
                        <td>15/10/2016</td>
                        <td>
                            <span class="db">12</span>
                            <span class="md">Lethagic</span>
                            <span class="dt">08:30am</span>
                        </td>

                        <td>
                            No Data


                        </td>
                        <td>
                            <span class="db">12</span>
                            <span class="md"> Anxious</span>
                            <span class="dt">01:10pm</span>
                        </td>
                        <td>
                            <span class="db">15</span>
                            <span class="md">Happy</span>
                            <span class="dt"> 02:10am</span>

                        </td>
                        <td>
                            <span class="db">10</span>
                            <span class="md"> Happy</span>
                            <span class="dt"> 08:30am</span>

                        </td>
                        <td>No Data</td>
                        <td><a class="view-Dreport" href="view-diary.html">View Diary</a></td>
                    </tr>

                    <tr>
                        <td>14/10/2016</td>
                        <td>
                            No Data

                        </td>

                        <td>
                            <span class="db">15</span>
                            <span class="md">Anixious</span>
                            <span class="dt">09:18am</span>


                        </td>
                        <td>
                            No Data
                        </td>
                        <td>
                            <span class="db">9</span>
                            <span class="md">Happy</span>
                            <span class="dt"> 02:15pm</span>

                        </td>
                        <td>
                            <span class="db">15</span>
                            <span class="md"> Anixious</span>
                            <span class="dt"> 08:20pm</span>

                        </td>
                        <td>
                            <span class="db">10</span>
                            <span class="md"> Lethargic</span>
                            <span class="dt"> 09:10pm</span>

                        </td>
                        <td><a class="view-Dreport" href="view-diary.html">View Diary</a></td>
                    </tr>

                    <tr>
                        <td>13/10/2016</td>
                        <td>
                            <span class="db">12</span>
                            <span class="md">Lethagic</span>
                            <span class="dt">08:30am</span>
                        </td>

                        <td>
                            No Data


                        </td>
                        <td>
                            <span class="db">12</span>
                            <span class="md"> Anxious</span>
                            <span class="dt">01:10pm</span>
                        </td>
                        <td>
                            <span class="db">15</span>
                            <span class="md">Happy</span>
                            <span class="dt"> 02:10am</span>

                        </td>
                        <td>
                            <span class="db">10</span>
                            <span class="md"> Happy</span>
                            <span class="dt"> 08:30am</span>

                        </td>
                        <td>No Data</td>
                        <td><a class="view-Dreport" href="view-diary.html">View Diary</a></td>
                    </tr>

                    <tr>
                        <td>12/10/2016</td>
                        <td>
                            <span class="db">12</span>
                            <span class="md">Anxious</span>
                            <span class="dt">08:30am</span>
                        </td>

                        <td>
                            <span class="db">12</span>
                            <span class="md"> Anxious</span>
                            <span class="dt">09:20am</span>

                        </td>
                        <td>
                            No Data
                        </td>
                        <td>
                            <span class="db">9</span>
                            <span class="md">Happy</span>
                            <span class="dt">02:08pm</span>

                        </td>
                        <td>
                            <span class="db">8</span>
                            <span class="md"> Happy</span>
                            <span class="dt"> 08:10pm</span>

                        </td>
                        <td>No Data</td>
                        <td><a class="view-Dreport" href="view-diary.html">View Diary</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

