﻿@model CDHS_ADMIN.Models.DiabetesGraphViewModel
@{
    ViewBag.Title = "diabetesgraph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TRACKER > Diadetes Report</div>
    </div>
    <div class="container">
        <h2 class="title">Diadetes Report (550) @Html.ActionLink("Back", "diabetesreportuserdetail", "Diabetes", new { @class = "add-new" })</h2>
        <div class="hold-wrp1">
            <div>
                <ul class="clearfix uSmDetail">
                    <li>User ID :<span> 1345</span></li>
                    <li>Username : <span>Nick Clark</span></li>
                    <li>Gender : <span>Male</span></li>
                    <li>Age : <span>22</span></li>
                    <li>City : <span>Sydney</span></li>
                    <li>State : <span>NSW</span></li>
                </ul>

                <div class="clearfix mar_top10">
                    <div class="fleft mRsearch">
                        <div class="input-group date" id="datetimepicker5" data-date-format="DD/MM/YYYY">
                            <input class="form-control" placeholder="From Date" id="fromdate" name="fromdate" value="" type="text">
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span> </span>
                        </div>

                    </div>
                    <div class="fleft mRsearch">
                        <div class="input-group date" id="datetimepicker6" data-date-format="DD/MM/YYYY">
                            <input class="form-control" placeholder="To Date" id="todate" name="todate" value="" type="text">
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span> </span>
                        </div>
                    </div>
                    <div class="serbut"><input value="View Diabetes Data" class="btn btn-primary" type="submit"></div>
                </div>

                <div class="mar_top20">
                    @Html.CheckBoxFor(m => m.DataCalculated, new { @checked = "checked" })
                    Data calculated based on average daily reading before and after meal
                </div>
                <div class="sel-slot">
                    <ul class="clearfix">
                        <li>                            
                            @Html.CheckBoxFor(m => m.BeforeBreakfast, new { @name = "sel" })
                            <span class="col1">Before Breakfast</span>
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.AfterBreakfast, new { @name = "sel" })<input name="sel" type="checkbox">
                            <span class="col2"> After Breakfast</span>
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.BeforeLunch, new { @name = "sel" })<input name="sel" type="checkbox">
                            <span class="col3"> Before Lunch</span>
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.AfterLunch, new { @name = "sel" })<input name="sel" type="checkbox">
                            <span class="col4">After Lunch</span>
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.BeforeDinner, new { @name = "sel" })<input name="sel" type="checkbox">
                            <span class="col5"> Before Dinner</span>
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.AfterDinner, new { @name = "sel" })<input name="sel" type="checkbox">
                            <span class="col6">After Dinner</span>
                        </li>
                    </ul>
                </div>

                <div class="grT">Average Diabetes</div>

                <div class="dt_arrow">
                    <div class="arrow-left"></div>
                    3-Oct-2016 to 16-Oct-2016
                    <div class="arrow-right"></div>
                </div>
                <div class="d-graph">
                    <canvas height="200px" id="canvas"></canvas>
                </div>
                <div class="dis_dates">
                    <ul class="clearfix">
                        <li><span>03-Oct</span></li>
                        <li><span>04-Oct</span></li>
                        <li><span>05-Oct</span></li>
                        <li><span>06-Oct</span></li>
                        <li><span>07-Oct</span></li>
                        <li><span>08-Oct</span></li>
                        <li><span>09-Oct</span></li>
                        <li><span>10-Oct</span></li>
                        <li><span>11-Oct</span></li>
                        <li><span>12-Oct</span></li>
                        <li><span>13-Oct</span></li>
                        <li><span>14-Oct</span></li>
                        <li><span>15-Oct</span></li>
                        <li><span>16-Oct</span></li>

                    </ul>
                </div>
                <div class="dia-note"><span class="rng">0-4</span> <span class="rngnm">Hypo</span>-<span class="rngnm1">Danger</span> | <span class="rng">4-8</span> <span class="rngnm">Good</span> | <span class="rng">8-12</span> <span class="rngnm">Caution</span> | <span class="rng">12-16</span> <span class="rngnm">Act Now</span> | <span class="rng">16-20</span> <span class="rngnm">Very Bad</span> | <span class="rng">24-28</span> <span class="rngnm">Hyper</span>-<span class="rngnm1">Immediate Action</span></div>

                <div class="grT">Average Feeling</div>
                <div class="dt_arrow">
                    3-Oct-2016 to 16-Oct-2016
                </div>

                <div class="av-mood clearfix">
                    <ul>
                        <li>
                            <div class="av-padd">
                                <div>
                                    <img src="images/mood/Unsettled.png">
                                </div>
                                <span class="m-hp">Excited</span>
                                <div class="per"><span>25%</span></div>
                            </div>

                        </li>
                        <li>
                            <div class="av-padd">
                                <div>
                                    <img src="images/mood/Anxious.png">
                                </div>
                                <span class="m-hp">Anxious</span>
                                <div class="per"><span>15%</span></div>
                            </div>

                        </li>
                        <li>
                            <div class="av-padd">
                                <div>
                                    <img src="images/mood/Lethargic.png">
                                </div>
                                <span class="m-hp">Lethargic</span>
                                <div class="per"><span>22%</span></div>
                            </div>

                        </li>
                        <li>
                            <div class="av-padd">
                                <div>
                                    <img src="images/mood/Happy.png">
                                </div>
                                <span class="m-hp">Happy</span>
                                <div class="per"><span>23%</span></div>
                            </div>

                        </li>
                        <li>
                            <div class="av-padd">
                                <div>
                                    <img src="images/mood/Excited.png">
                                </div>
                                <span class="m-hp">Excited</span>
                                <div class="per"><span>15%</span></div>
                            </div>

                        </li>


                    </ul>
                </div>
            </div>



        </div>
    </div>
</div>

