﻿@model CDHS_ADMIN.Models.ViewDiabetesSymptomsViewModel
@{
    ViewBag.Title = "viewdiabetessymptoms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Diabetes Symptoms</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Diabetes Symptoms
            @Html.ActionLink("Add Diabetes Symptoms", "adddiabetessymptoms", "Diabetes", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewdiabetessymptoms", "Diabetes", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.ViewDiabetesSymptoms, new { @class = "form-control", @placeholder = "Search By Title" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>

                <div class="ord-table">
                    <table>
                        <tr>
                            <th style="width:15%;"><a href="#">Title</a></th>
                            <th style="width:50%;"><a href="#">Diabetes Symptoms Description</a></th>
                            <th style="width:15%;">Active / Inactive </th>
                            <th style="width:10%;">Approval</th>
                            <th class="alright" style="width:10%;">Action</th>

                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>

                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>

                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>

                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>

                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>

                    </table>
                </div>
            }
        </div>
    </div>
</div>
