﻿@model CDHS_ADMIN.Models.AddgpViewModel
@{
    ViewBag.Title = "addgp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">SALES > GP</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add GP
            @Html.ActionLink("View GP", "viewgp", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
@using (Html.BeginForm("addgp", "Info", FormMethod.Post, new { @class = "form-horizontal", }))
{
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Clinic Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ClinicName, new { @class = "form-control", @name = "name", @placeholder = "Enter Clinic Name" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Contact Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", @name = "cont_name", @placeholder = "Enter Contact Name" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Mobile No</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @name = "mob", @placeholder = "Enter Mobile No" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Email ID</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", @name = "email_id", @placeholder = "Enter Email ID" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Enter Password</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EnterPassword, new { @class = "form-control", @name = "pass", @placeholder = "********" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Enter Confirm Password</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EnterConfirmPassword, new { @class = "form-control", @name = "conf_pass", @placeholder = "********" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Adddress</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.Adddress, new { @class = "form-control", @name = "address", @style = "height:60px;" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Subrub</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Subrub, new { @class = "form-control", @name = "subrub", @placeholder = "Enter Subrub" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> State</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.State, new { @class = "form-control", @name = "state", @placeholder = "Enter State" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Postcode</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Postcode, new { @class = "form-control", @name = "postcode", @placeholder = "Enter Postcode" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">&nbsp;</div>
                        <div class="col-lg-9">
                            <div class="sub_but">
                                <input value="Submit" class="btn btn-primary" type="submit">
                                <input value="Cancel" class="btn btn-primary" type="submit">
                            </div>
                        </div>
                    </div>

                </div>
}
        </div>
    </div>
</div>

