﻿@model CDHS_ADMIN.Models.AddSalesRepViewModel
@{
    ViewBag.Title = "addsalesrep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">SALES > Sales Rep</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Sales Rep
            @Html.ActionLink("View Sales Rep", "viewsalesrep", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
            @using (Html.BeginForm("addsalesrep", "Info", FormMethod.Post, new { @class = "form-horizontal", }))
            {
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">First Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @name = "name", @placeholder = "Enter First Name" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Last Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @name = "l_name", @placeholder = "Enter Last Name" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Email ID</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", @name = "email_id", @placeholder = "Enter Email ID" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Enter Password</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EnterPassword, new { @class = "form-control", @name = "pass", @placeholder = "********" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Confirm Password</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @name = "conf_pass", @placeholder = "********" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Mobile No</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @name = "mob", @placeholder = "Enter Mobile No" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Subrub</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Subrub, new { @class = "form-control", @name = "subrub", @placeholder = "Enter Subrub" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> State</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.State, new { @class = "form-control", @name = "state", @placeholder = "Enter State" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Postcode</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Postcode, new { @class = "form-control", @name = "postcode", @placeholder = "Enter Postcode" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">&nbsp;</div>
                        <div class="col-lg-9">
                            <div class="sub_but">
                                <input value="Submit" class="btn btn-primary" type="submit">
                                <input value="Cancel" class="btn btn-primary" type="submit">
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
