﻿@model CDHS_ADMIN.Models.AddVideoChannelViewModel
@{
    ViewBag.Title = "addvideochannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Video Channel</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Video Channel
            @Html.ActionLink("View Video Channel", "viewvideochannel", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
            <form method="post" id="form_mast">
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Title</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Title, new { @class = "form-control", @name = "title", @placeholder = "Video Channel Name" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Date</div>
                        <div class="col-lg-9 dtval">
                            <div class='input-group date' id='datetimepicker5' data-date-format="DD/MM/YYYY">
                                @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @name = "newsDate", @id = "newsDate" })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span> </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Sponsor Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @name = "company_name", @placeholder = "Search By Sponsors Name" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Short Description</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control",  @placeholder = "Description In Short" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Video Link</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.VideoLink, new { @class = "form-control", @name = "vid_link", @placeholder = "Video Link" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Approval Status</div>
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "form-control" })

                        </div>
                    </div>

                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

