﻿@model CDHS_ADMIN.Models.RegisteredGpViewModel
@{
    ViewBag.Title = "registeredgp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">CDHS > Registered GP</div>
    </div>
    <div class="container">
        <h2 class="title">Registered GP (550)</h2>
        <div class="hold-wrp1">
@using (Html.BeginForm("registeredgp", "Info", FormMethod.Post, new { @class = "form-horizontal", }))
{
            <div class="ser-filter">
                @Html.DropDownListFor(m => m.SelectedStateStatus, Model.StateList.Select(menu => new SelectListItem { Text = menu.StateStatus, Value = menu.StateId.ToString() }))

                @Html.DropDownListFor(m => m.SelectedCityStatus, Model.CityList.Select(menu => new SelectListItem { Text = menu.CityStatus, Value = menu.CityId.ToString() }))

                @Html.TextBoxFor(m => m.SearchByClinic, new { @placeholder = "Search By Clinic" })
                <input class="ser-but" value="Search" type="button">
            </div>
            <div class="ord-table">


                @*<table>
                    <tr>
                        <th><a href="#">Registered</a></th>
                        <th><a href="#">Clinic Name</a></th>
                        <th><a href="#">Email ID</a></th>
                        <th><a href="#">Mobile No</a></th>
                        <th><a href="#">Contact Name</a></th>
                        <th><a href="#">City</a></th>
                        <th><a href="#">State </a></th>
                        <th><a href="#">Subscription Period</a></th>

                    </tr>
                    <tr>
                        <td>10-10-2016</td>
                        <td><a class="SUdetail" href="#">Pulse Clinic</a></td>
                        <td>pluse@gmail.com</td>
                        <td>9427814758</td>
                        <td>Nick Franco</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td>10-10-2016 TO 09-10-2017</td>
                    </tr>
                    <tr>
                        <td>08-10-2016</td>
                        <td><a class="SUdetail" href="#">Care Clinic</a></td>
                        <td>care@gmail.com</td>
                        <td>9427859585</td>
                        <td>John Farnandis</td>
                        <td>Melbourne</td>
                        <td>Victoria</td>
                        <td>08-10-2016 TO 07-10-2017</td>
                    </tr>
                    <tr>
                        <td>05-10-2016</td>
                        <td><a class="SUdetail" href="#">Shine Clinic</a></td>
                        <td>shine@gmail.com</td>
                        <td>9427862538</td>
                        <td>Monica Bond</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td>05-10-2016 TO 04-10-2017</td>
                    </tr>
                    <tr>
                        <td>01-10-2016</td>
                        <td><a class="SUdetail" href="#">ABC Clinic</a></td>
                        <td>abc@gmail.com</td>
                        <td>9486459585</td>
                        <td>James Bond</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td>01-10-2016 TO 30-09-2017</td>
                    </tr>
                    <tr>
                        <td>25-09-2016</td>
                        <td><a class="SUdetail" href="#">Star Clinic</a></td>
                        <td>star@gmail.com</td>
                        <td>9424879585</td>
                        <td>Mike Hussy</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                        <td>25-09-2016 TO 24-09-2017</td>
                    </tr>


                </table>*@
            </div>
}
        </div>
    </div>
</div>

