﻿@model CDHS_ADMIN.Models.ViewGpViewModel
@{
    ViewBag.Title = "viewgp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">Sales > GP</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View GP
            @Html.ActionLink("Add GP", "addgp", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewgp", "Info", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchByName, new { @class = "form-control", @placeholder = "Search By Name" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>


                <div class="ord-table">
                    @if (Model.gpcdhs.Count() > 0)
                    {

                        var grid = new WebGrid(source: @Model.gpcdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                                  grid.Column("Clinic_Name", "Name"),
                                                  grid.Column("Contact_Name", "Contact Name"),
                                                  grid.Column("Mobile_No", "Mobile No"),
                                                  grid.Column("Email_ID", "Email ID"),
                                                  grid.Column("Enter_Password", "Enter Password"),
                                                  grid.Column("Enter_Confirm_Password", "Enter Confirm Password"),
                                                  grid.Column("Adddress", "Adddress"),
                                                  grid.Column("Subrub", "Subrub"),
                                                  grid.Column("State", "State"),
                                                  grid.Column("Postcode", format: @<text>@Html.Raw(item.Postcode)</text>, style: "contWidth"),

                                        grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)
                                                                                              )
                                                                                              );
                    }
                    else
                    {
                        <p>No Data Found</p>
                    }

                    @*<table>
                            <tr>
                                <th style="width:10%;"><a href="#">Clinic Name</a></th>
                                <th style="width:20%;"><a href="#">Email ID</a></th>
                                <th style="width:10%;"><a href="#">Mobile No</a></th>
                                <th style="width:10%;"><a href="#">Subrub</a></th>
                                <th style="width:10%;"><a href="#">State</a></th>
                                <th class="alright" style="width:10%;">Action</th>

                            </tr>
                            <tr>
                                <td>Pulse Clinic</td>
                                <td>pulse@gmail.com</td>
                                <td>645875956</td>
                                <td>Sydney </td>
                                <td>NSW</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Shine Clinic </td>
                                <td>shine@gmail.com</td>
                                <td>644865956</td>
                                <td>Sydney </td>
                                <td>NSW</td>

                                <td class="alright">
                                       @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>
                            <tr>
                                <td>Smart Clinic </td>
                                <td>smart@gmail.com</td>
                                <td>645875456</td>
                                <td>Sydney </td>
                                <td>NSW</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>
                            <tr>
                                <td>ABC Clinic </td>
                                <td>abc@gmail.com</td>
                                <td>645842106</td>
                                <td>Melbourne </td>
                                <td>Victoria</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>


                        </table>*@
                </div>
            }
        </div>
    </div>
</div>
