﻿@model CDHS_ADMIN.Models.ViewSalesRepViewModel
@{
    ViewBag.Title = "viewsalesrep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">Sales > Sales Rep</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Sales Rep
            @Html.ActionLink("Add Sales Rep", "addsalesrep", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewsalesrep", "Info", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.AddSalesRep, new { @class = "form-control", @placeholder = "Search By Name" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>


                <div class="ord-table">
                    @if (Model.salescdhs.Count() > 0)
                    {
                        var grid = new WebGrid(source: @Model.salescdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                                         grid.Column("First_Name", "Name"),
                                                         grid.Column("Last_Name", "Last Name"),
                                                         grid.Column("Email_ID", "Email ID"),
                                                         grid.Column("Enter_Password", "Enter Password"),
                                                         grid.Column("Confirm_Password", "Confirm Password"),
                                                         grid.Column("Mobile_No", "Mobile No"),
                                                         grid.Column("Subrub", "Subrub"),
                                                         grid.Column("State", "State"),
                                                         grid.Column("Postcode", "Postcode"),

                                          grid.Column("Priority", format: @<text>@Html.Raw(item.Priority)</text>, style: "contWidth"),

                                        grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)
                                                                                                                                                    )
                                                                                                                                                    );
                    }
                    else
                    {
                        <p>No Data Found</p>
                    }
                    }
                    @*<table>
                            <tr>
                                <th style="width:10%;"><a href="#">Name</a></th>
                                <th style="width:20%;"><a href="#">Email ID</a></th>
                                <th style="width:10%;"><a href="#">Suburb</a></th>
                                <th style="width:10%;"><a href="#">State</a></th>
                                <th class="alcenter" style="width:10%;">Enable / Disable </th>
                                <th class="alcenter" style="width:10%;">Approval</th>
                                <th class="alcenter" style="width:20%;">Delinquent user (Not active in last 30 days)</th>
                                <th class="alright" style="width:10%;">Action</th>

                            </tr>
                            <tr>
                                <td>Chris </td>
                                <td>chris@gmail.com</td>
                                <td>Sydney </td>
                                <td>NSW</td>
                                <td class="alcenter"> @Html.CheckBoxFor(m => m.Enable)</td>
                                <td class="alcenter"> @Html.CheckBoxFor(m => m.Approval)</td>
                                <td class="alcenter"> @Html.CheckBoxFor(m => m.Delinquentuser)</td>
                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Nick </td>
                                <td>nick@gmail.com</td>
                                <td>Sydney </td>
                                <td>NSW</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Enable)</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Approval)</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Delinquentuser)</td>
                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Monica </td>
                                <td>monica@gmail.com</td>
                                <td>Sydney </td>
                                <td>NSW</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Enable)</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Approval)</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Delinquentuser)</td>
                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>
                            <tr>
                                <td>Scott </td>
                                <td>scott@gmail.com</td>
                                <td>Melbourne </td>
                                <td>Victoria</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Enable)</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Approval)</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Delinquentuser)</td>
                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>

                        </table>*@
                </div>
            }
        </div>
    </div>
</div>
