﻿@model CDHS_ADMIN.Models.AddAboutCdhsViewModel
@{
    ViewBag.Title = "addaboutcdhs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-block">
    <div class="container">
        <div class="breadcrumb">CDHS > View About CDHS</div>
    </div>
    <div class="container">
        <h2 class="title">
            View About CDHS
            @Html.ActionLink("View About CDHS", "viewaboutcdhs", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
            @using (Html.BeginForm("addaboutcdhs", "Home", FormMethod.Post, new { @class = "form-horizontal", }))
            {
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Title</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Content in Detail</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.ContentinDetail, new { @class = "form-control", @style = "height:200px;" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Upload Title Image</div>
                        <div class="col-lg-9">
                            <div class="main_page_area">
                                <div class="" id="container">
                                    <div id="dropzone1" class="drag_area">Drag Here to Upload</div>
                                    <div id="actions">
                                        <div style="text-align:center"> <span style="display:none" class="btn btn-default fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span> </span> </div>
                                        <div style="width:100%;">
                                            <span class="fileupload-process">
                                                <div id="total-progress" style="width:100%; margin-top:4px" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress> </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
