﻿@model CDHS_ADMIN.Models.AddCategoryViewModel
@{
    ViewBag.Title = "addcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Content Category</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Content Category
            @Html.ActionLink("View Content Category", "viewcategory", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
           
@using (Html.BeginForm("addcategory", "Home", FormMethod.Post, new { @class = "form-horizontal", }))
{
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Category Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Category Description</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.CategoryDescription, new { @class = "form-control", @style = "height:200px;" })</div>
                    </div>

                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
}

        </div>
    </div>
</div>

