﻿@model CDHS_ADMIN.Models.AddContentTypeViewModel
@{
    ViewBag.Title = "addcontenttype";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Content Types</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Content Types
            @Html.ActionLink("View Content Type", "viewcontenttype", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
@using (Html.BeginForm("addcontenttype", "Home", FormMethod.Post, new { @class = "form-horizontal", }))
{
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Type Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.TypeName, new { @class = "form-control", @placeholder = "News" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Type Description</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.TypeDescription, new { @class = "form-control", @style = "height:200px" })</div>
                    </div>

                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
}
        </div>
    </div>
</div>

