﻿@model CDHS_ADMIN.Models.AddSponsorsViewModel
@{
    ViewBag.Title = "addsponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Sponsors</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Sponsors
            @Html.ActionLink("View Sponsors", "viewsponsors", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
@using (Html.BeginForm("addsponsors", "Home", FormMethod.Post, new { @class = "form-horizontal", }))
{
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Company Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Enter Company Name" })
                            @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Address</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Enter Address", @style = "height:70px;" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Company Description</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.CompanyDescription, new { @class = "form-control", @placeholder = "Enter Company Description", @style = "height:70px;" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Contact Number</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", @placeholder = "Enter Contact Number" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Email Id</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @placeholder = "Enter Email ID" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Website URL</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.WebsiteURL, new { @class = "form-control", @name = "web_link", @placeholder = "Enter Website Link" })</div>
                    </div>


                    <div class="form-group clearfix">
                        <div class="col-lg-3">Upload Logo</div>
                        <div class="col-lg-9">
                            <div class="main_page_area">
                                <div class="" id="container">
                                    <div id="dropzone1" class="drag_area">Drag Here to Upload</div>
                                    <div id="actions">
                                        <div style="text-align:center"> <span style="display:none" class="btn btn-default fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span> </span> </div>
                                        <div style="width:100%;">
                                            <span class="fileupload-process">
                                                <div id="total-progress" style="width:100%; margin-top:4px" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress> </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
}
        </div>
    </div>
</div>

