﻿@model CDHS_ADMIN.Models.IndexViewModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">CDHS > Registered User</div>
    </div>
    <div class="container">
        <h2 class="title">Registered Users (550)</h2>
        <div class="hold-wrp1">
            <div class="ser-filter">

                <span class="mf">
                    @Html.CheckBoxFor(m => m.Male, new { @name = "Male" })Male
                    @Html.CheckBoxFor(m => m.Female, new { @name = "Female" })Female
                </span>
                @Html.DropDownListFor(m => m.SelectedSearchByState, Model.StateList.Select(menu => new SelectListItem { Text = menu.StateStatus, Value = menu.StateId.ToString() }), "Search By State")
                @Html.DropDownListFor(m => m.SelectedSearchByCity, Model.CityList.Select(menu => new SelectListItem { Text = menu.CityStatus, Value = menu.CityId.ToString() }), "Search By City")
                @Html.DropDownListFor(m => m.SelectedSearchByAge, Model.AgeList.Select(menu => new SelectListItem { Text = menu.AgeStatus, Value = menu.AgeId.ToString() }), "Search By Age")
                
                @Html.TextBoxFor(m => m.Search, new { @placeholder = "Search By Email" })
                <input class="ser-but" value="Search" type="button">

            </div>
            <div class="ord-table">
                <table>
                    <tr>
                        <th><a href="#">User Id</a></th>
                        <th><a href="#">User Name</a></th>
                        <th><a href="#">Client Name</a></th>
                        <th><a href="#">Doctor</a></th>
                        <th><a href="#">Email ID</a></th>
                        <th><a href="#">Gender</a></th>
                        <th><a href="#">Age</a></th>
                        <th><a href="#">City</a></th>
                        <th><a href="#">State</a></th>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1345</a></td>
                        <td>Nick Clark</td>
                        <td>Pulse Clinic</td>
                        <td>Doctor A</td>
                        <td>nick@gmail.com</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1245</a></td>
                        <td>John Hussy</td>
                        <td>Care Clinic</td>
                        <td>Doctor B</td>
                        <td>john@gmail.com</td>
                        <td>Male</td>
                        <td>28</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1345</a></td>
                        <td>Nick Clark</td>
                        <td>Pulse Clinic</td>
                        <td>Doctor A</td>
                        <td>nick@gmail.com</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1245</a></td>
                        <td>John Hussy</td>
                        <td>Care Clinic</td>
                        <td>Doctor B</td>
                        <td>john@gmail.com</td>
                        <td>Male</td>
                        <td>28</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                    </tr>
                    <tr>
                        <td><a class="SUdetail" href="#">1345</a></td>
                        <td>Nick Clark</td>
                        <td>Pulse Clinic</td>
                        <td>Doctor A</td>
                        <td>nick@gmail.com</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>Sydney</td>
                        <td>NSW</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

