﻿@model CDHS_ADMIN.Models.UserRightsViewModel
@{
    ViewBag.Title = "userrights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">USERS > User Rights</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            User Rights

        </h2>
        <div class="hold-wrp1">
            <div class="clearfix mar_top10">
                <div class="col-lg-6">@Html.TextBoxFor(m => m.SearchByName, new { @class = "form-control", @placeholder = "Search By Name" })</div>
                <div class="col-lg-2"><input value="Search" class="btn btn-primary" type="submit"></div>
            </div>
            <div class="clearfix mar_top10">
                <div class="col-lg-2">
                    Select Top Link
                </div>
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.SelectedLink, Model.LinkList.Select(menu => new SelectListItem { Text = menu.LinkStatus, Value = menu.LinkId.ToString() }), new { @class = "form-control" })

                </div>
            </div>


            <div class="clearfix">
                <div class="leftD">
                    <div class="drag_block">
                        <ul class="sortable-list-allow">
                            <li class="sortable-item">
                                <table>
                                    <tr>
                                        <th>
                                            Content Type

                                        </th>
                                        <th><span class="allowedSpan" style="color: #00FF00; "> Allowed</span></th>
                                    </tr>
                                </table>
                            </li>
                            <li class="sortable-item">
                                <table>
                                    <tr>
                                        <th>
                                            Content Category

                                        </th>
                                        <th><span class="allowedSpan" style="color: #00FF00; "> Allowed</span></th>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rightD">
                    <div class="drag_block">
                        <ul class="sortable-list-disallow">
                            <li class="sortable-item">
                                <table>
                                    <tr>
                                        <th>
                                            Registered User
                                        </th>
                                        <th>
                                            <span class="allowedSpan" style="color:#FF0000">Denied</span>
                                        </th>
                                    </tr>
                                </table>
                            </li>
                            <li class="sortable-item">
                                <table>
                                    <tr>
                                        <th>
                                            Registered GP
                                        </th>
                                        <th><span class="allowedSpan" style="color:#FF0000">Denied</span></th>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

