﻿@model CDHS_ADMIN.Models.ViewAboutcdhsViewModel
@{
    ViewBag.Title = "viewaboutcdhs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">CDHS > View About CDHS</div>
    </div>
    <div class="container">
        <h2 class="title">
            View About CDHS
            @Html.ActionLink("Add About CDHS", "addaboutcdhs", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">

            <div class="ord-table">
                @using (Html.BeginForm("viewaboutcdhs", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
                {

                    if (Model.aboutcdhs.Count() > 0)
                    {
                        var grid = new WebGrid(source: @Model.aboutcdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                              grid.Column("Title", "Name"),
                                 grid.Column("Description", format: @<text>@Html.Raw(item.Content_in_Detail)</text>, style: "contWidth"),
                                      
                                        grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)
                                                                                              )
                                                                                              );
                    }
                    else
                    {
                        <p>No Data Found</p>
                    }
                }


                @*<table>
                    <tr>
                        <th style="width:25%;">Name</th>
                        <th style="width:60%;">Description</th>

                        <th class="alright" style="width:15%;">Action</th>

                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint.</td>

                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedAction, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "form-control" })

                        </td>
                    </tr>
                </table>*@
            </div>
        </div>
    </div>
</div>

