﻿@model CDHS_ADMIN.Models.ViewUsersViewModel
@{
    ViewBag.Title = "viewusers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">USERS > Users</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Users
            @Html.ActionLink("Add Users", "addusers", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            <div class="clearfix">
                <div class="fleft mRsearch">  @Html.TextBoxFor(m => m.AddSalesRep, new { @class = "form-control", @placeholder = "Search By Name" })</div>
                <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
            </div>


            <div class="ord-table">

                <table>
                    <tr>
                        <th style="width:10%;"><a href="#">Name</a></th>
                        <th style="width:25%;"><a href="#">Email ID</a></th>
                        <th class="alcenter" style="width:15%;">Enable / Disable </th>
                        <th class="alcenter" style="width:10%;">Approval</th>
                        <th class="alcenter" style="width:30%;">Delinquent user (Not active in last 30 days)</th>
                        <th class="alright" style="width:10%;">Action</th>

                    </tr>
                    <tr>
                        <td>Chris </td>
                        <td>chris@gmail.com</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Enable)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Approval)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Delinquentuser)</td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                        </td>
                    </tr>
                    <tr>
                        <td>Nick </td>
                        <td>nick@gmail.com</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Enable)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Approval)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Delinquentuser)</td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                        </td>
                    </tr>
                    <tr>
                        <td>Monica </td>
                        <td>monica@gmail.com</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Enable)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Approval)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Delinquentuser)</td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                        </td>
                    </tr>
                    <tr>
                        <td>Scott </td>
                        <td>scott@gmail.com</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Enable)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Approval)</td>
                        <td class="alcenter"> @Html.CheckBoxFor(m => m.Delinquentuser)</td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>

