﻿@model CDHS_ADMIN.Models.ViewSponsorsViewModel
@{
    ViewBag.Title = "viewsponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Sponsors</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Sponsors
            @Html.ActionLink("Add Sponsors", "addsponsors", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewsponsors", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchBySponsor, new { @class = "form-control", @placeholder = "Search By Sponsor" })</div>

                </div>
                <div class="clearfix mar_top">
                    <div class="fleft mRsearch">
                        <div class="input-group date" id="datetimepicker5" data-date-format="DD/MM/YYYY">
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @id = "fromdate", @name = "fromdate", @placeholder = "From Date" })
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span> </span>
                        </div>

                    </div>
                    <div class="fleft mRsearch">
                        <div class="input-group date" id="datetimepicker6" data-date-format="DD/MM/YYYY">
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @id = "todate", @name = "todate", @placeholder = "To Date" })
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span> </span>
                        </div>
                    </div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>
                <div class="ord-table">
                    @if (Model.sponsorscdhs.Count() > 0)
                {

                    var grid = new WebGrid(source: @Model.sponsorscdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                             grid.Column("Company_Name", "Name"),
                                                       grid.Column("Address", "Address"),
                                                       grid.Column("Company_Description", "Company Description"),
                                                       grid.Column("Contact_Number", "Contact Number"),
                                                       grid.Column("Email_Id", "Email Id"),
                                                grid.Column("Website_URL", format: @<text>@Html.Raw(item.Website_URL)</text>, style: "contWidth"),

                                        grid.Column("", header: "Action",
                                        format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] {
                                                      new { ID = item.id + "~Edit", Name = "Edit" }, new {
                                                          ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"),
                                                          "Action", new { onchange = "this.form.submit()" })</text>))
                                                                                                                            );
                }
                else
                {
                <p>No Data Found</p>
                }

                    @*<table>
                            <tr>
                                <th style="width:20%;"><a href="#">Company Name</a></th>
                                <th style="width:45%;"><a href="#">Company Description</a></th>
                                <th style="width:10%;"><a href="#">Email ID </a></th>
                                <th style="width:15%;"><a href="#">Contact Number</a></th>
                                <th class="alright" style="width:10%;">Action</th>

                            </tr>
                            <tr>
                                <td>Company A </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td>company_a@gmail.com</td>
                                <td>
                                    9458265825
                                </td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Company B </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td>company_b@gmail.com</td>
                                <td>
                                    9458265825
                                </td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>
                            <tr>
                                <td>Company C </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td>company_c@gmail.com</td>
                                <td>
                                    6458595825
                                </td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>
                            <tr>
                                <td>Company D </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td>company_d@gmail.com</td>
                                <td>
                                    9458265451
                                </td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })
                                </td>
                            </tr>

                        </table>*@
                </div>
            }
        </div>
    </div>
</div>
