﻿@model CDHS_ADMIN.Models.AddHypertensionContentViewModel
@{
    ViewBag.Title = "addhypertensioncontent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/scripts/jquery-ui.min.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("#content_type").autocomplete({
            source: function (request, response) {
                var eventtype = new Array();
                $.ajax({
                    method: "POST",
                    url: "/Hypertension/AutocompleteDiabetesContent",
                    data: "{searchstring:'" + $("#content_type").val() + "'}",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        response($.map(data.Data, function (item) {
                            return {
                                label: item.label,
                                value: item.value
                            };
                        }));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#content_type").text(textStatus);
                    }
                });

                //
                //response(eventtype);
            },
            minLength: 0,
            select: function (event, ui) {
                if (ui.item) {
                    $("#content_type").val(ui.item.label);
                    $("#contentid").val(ui.item.value);
                    return false;
                }
            },
            focus: function (event, ui) {
                return false;
            }
        }).focus(function () {
            $(this).data("autocomplete").search($(this).val());
            //$(this).trigger('mousedown.autocomplete');
        });
    });
</script>
<script>
    $(function () {
        $("#Category_Name").autocomplete({
            source: function (request, response) {
                var eventtype = new Array();
                $.ajax({
                    method: "POST",
                    url: "/Hypertension/AutocompleteDiabetesCategory",
                    data: "{searchstring:'" + $("#Category_Name").val() + "'}",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        response($.map(data.Data, function (item) {
                            return {
                                label: item.label,
                                value: item.value
                            };
                        }));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#Category_Name").text(textStatus);
                    }
                });

                //
                //response(eventtype);
            },
            minLength: 0,
            select: function (event, ui) {
                if (ui.item) {
                    $("#Category_Name").val(ui.item.label);
                    $("#categoryid").val(ui.item.value);
                    return false;
                }
            },
            focus: function (event, ui) {
                return false;
            }
        }).focus(function () {
            $(this).data("autocomplete").search($(this).val());
            //$(this).trigger('mousedown.autocomplete');
        });
    });
</script>
<script>
    $(function () {
        $("#companyname").autocomplete({
            source: function (request, response) {
                var eventtype = new Array();
                $.ajax({
                    method: "POST",
                    url: "/Hypertension/ContentCompanyGetSeacrchString",
                    data: "{searchstring:'" + $("#companyname").val() + "'}",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        response($.map(data.Data, function (item) {
                            return {
                                label: item.label,
                                value: item.value
                            };
                        }));
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#companyname").text(textStatus);
                    }
                });

                //
                //response(eventtype);
            },
            minLength: 0,
            select: function (event, ui) {
                if (ui.item) {
                    $("#companyname").val(ui.item.label);
                    $("#sponsorid").val(ui.item.value);
                    return false;
                }
            },
            focus: function (event, ui) {
                return false;
            }
        }).focus(function () {
            $(this).data("autocomplete").search($(this).val());
            //$(this).trigger('mousedown.autocomplete');
        });
    });
</script>

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Hyper Tension Content</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Hyper Tension Content
            @Html.ActionLink("View Hyper Tension Content", "viewhypertensioncontent", "Hypertension", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
@using (Html.BeginForm("addhypertensioncontent", "Hypertension", FormMethod.Post, new { @class = "form-horizontal", }))
{
            @*<form method="post" id="form_mast">*@
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Content Type Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ContentTypeName, new { @class = "form-control", @id = "content_type", @name = "content_type", @placeholder = "Search By Content Type" })
                            @Html.HiddenFor(m => m.contentid, new { @class = "form-control", @id = "contentid", @name = "contentid" })
                            @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Content Category Name</div>
                        <div class="col-lg-9">
                        @*@Html.TextBoxFor(m => m.ContentCategoryName, new { @class = "form-control", @name = "content_cat", @placeholder = "Search By Content Category" })*@
                            @Html.TextBoxFor(m => m.categoryname, new { @class = "form-control", @id = "Category_Name", @name = "Category_Name", @placeholder = "Search By Content Category" })
                            @Html.HiddenFor(m => m.categoryid, new { @class = "form-control", @id = "categoryid", @name = "categoryid" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Company Name</div>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @id = "company_name", @name = "company_name", @placeholder = "Search By Sponsors Name" })
                            @Html.HiddenFor(m => m.companyname, new { @class = "form-control", @id = "companyname", @name = "companyname" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Title(Max 35 Charachters Allowed)</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Title, new { @class = "form-control", @name = "title", @placeholder = "Enter Hyper Tension Content Title" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Hyper Tension Containt Details</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.HyperTensionContaintDetails, new { @class = "form-control", @style = "height:200px;" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Date</div>
                        <div class="col-lg-9">
                            <div class='input-group date' id='datetimepicker5' data-date-format="DD/MM/YYYY">
                                @Html.TextBoxFor(m => m.NewsDate, new { @class = "form-control", @id = "newsDate", })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Priority</div>
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.SelectedPriority, Model.PriorityList.Select(menu => new SelectListItem { Text = menu.Priority, Value = menu.id.ToString() }), new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Approval Status</div>
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Asset Type</div>
                        <div class="col-lg-9">
                            @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Upload Photo <br> (Size 500px X 500px)</div>
                        <div class="col-lg-9">
                            <div class="main_page_area">
                                <div class="" id="container">
                                    <div id="dropzone1" class="drag_area">Drag Here to Upload</div>
                                    <div id="actions">
                                        <div style="text-align:center"> <span style="display:none" class="btn btn-default fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span> </span> </div>
                                        <div style="width:100%;">
                                            <span class="fileupload-process">
                                                <div id="total-progress" style="width:100%; margin-top:4px" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress> </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @*</form>*@
}
        </div>
    </div>
</div>

