﻿@model CDHS_ADMIN.Models.ViewHypertensionSymptomsViewModel
@{
    ViewBag.Title = "viewhypertensioncontent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Hyper Tension Content</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Hyper Tension Content
            @Html.ActionLink("Add Hyper Tension Content", "addhypertensioncontent", "Hypertension", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewhypertensioncontent", "Hypertension", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.SearchByContentType, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Content Type" })</div>
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.SearchByContentCategory, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Content Category" })</div>
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.SearchByContentSponsors, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Content Sponsors" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>

                <div class="ord-table">
                    <table>
                        <tr>
                            <th style="width:15%;"><a href="#">Title</a></th>
                            <th style="width:40%;"><a href="#">Hyper Tension Content</a></th>
                            <th style="width:15%;">Active / Inactive </th>
                            <th style="width:10%;">Approval</th>
                            <th style="width:10%;">User Detail</th>
                            <th class="alright" style="width:10%;">Action</th>

                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>

                    </table>
                </div>
            }
        </div>
    </div>
</div>
